body {
  background-image: image-url('gaming-pattern');
  background-repeat: repeat;
}

h1, h2 {
  color: DodgerBlue;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  letter-spacing: 2px
}

.header {
  padding: 50px;
  background: black;
}