<!DOCTYPE html>
<html>
  <head>
    <title>GameLogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Welcome to GameLogger!</h1>

      <h2>Track the progress of the games you never get around to playing in your massive backlog!</h2>
    </div>
    <%= yield %>
  </body>
</html>
